/node_modules/
/build/
/.env.development
/.env
/coverage/
/.nyc_output
/.nova
yarn.lock

docs/.docusaurus
docs/build
docs/node_modules
docs/static/openapi.json


docs/sidebars-protodoc.js
docs/static/proto_workspace.json
docs/docs/proto
