/node_modules/
/build/
/.env.development
/.env
/coverage/
/.nyc_output
/.nova
yarn.lock
postgresql

docs/.docusaurus
docs/build
docs/node_modules
docs/static/openapi.json
docs/sidebars-protodoc.js
docs/static/proto_workspace.json
docs/docs/proto
docs/.vercel

# We use PNPM for package dependencies.
package-lock.json
yarn.lock
